<a href="/profile">Back to my profile</a>

<h1>Edit profile</h1>
<h2>My name</h2>
<img src="/images/user-test.png" alt="">
<button>Change photo</button>
<p>Some info about me Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum saepe corrupti inventore eum?</p>
<div class="popup" onclick="myFunction()">
  <button>Edit info</button>
  <span class="popuptext" id="myPopup">
    <p>Edit info</p>
TO DO
</form>
  </span>
  </div>

  <h2>My fav tree</h2>
<img src="/images/tree-test.png" alt="" class="tree-img">
<p>Some info about tree Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum saepe corrupti inventore eum?</p>
<div>
  <a href="/profile/mytrees">Edit favourite</a>
</div>

<div class="popup" onclick="myFunction()">
  <button>delete profile</button>
  <span class="popuptext" id="myPopup">
TO DO
</form>
  </span>
  </div>