<a href="/">Back home</a>

<h1>My profile</h1>
<h2>My name</h2>
<img src="/images/user-test.png" alt="">
<p>Some info about me Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum saepe corrupti inventore eum?</p>
<a href="/profile/edit">Edit profile</a>

<h2>My fav tree</h2>
<img src="/images/tree-test.png" alt="" class="tree-img">
<p>Some info about tree Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum saepe corrupti inventore eum?</p>
<div>
  <a href="/profile/mytrees">Edit favourite</a>
</div>
<div>
  <a href="/profile/mytrees">See all my trees</a>
</div>