<a class="button" href="/">Back home</a>

<h1>My profile</h1>
<h2>Hello {{user.username}}  🌱</h2> 
<img src="{{user.avatar}}" alt="">
<p>Some info about me Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum saepe corrupti inventore eum?</p>
<a class="button" href="/profile/edit">Edit profile</a>

<h2>My fav tree</h2>
<img src="/images/tree-test.png" alt="" class="tree-img">
<p>Some info about tree Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum saepe corrupti inventore eum?</p>
<div>
  <a class="button" href="/profile/mytrees">Edit favourite</a>
</div>
<div>
  <a class="button" href="/profile/mytrees">See all my trees</a>
</div>
  <div>
    <a class="button" href="/logout">Logout</a>
  </div>