<h1>Signup</h1>

<form action="/signup" method="POST" Id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JohnDoe">
  <br><br> 

  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="JohnDoe@email.com">
  <br><br> 

  <label for="passeword">Password</label>
  <input id="password" type="password" name="password" placeholder="toto">

  {{#if message}}
    <div class="error-message">{{ message }} </div>
  {{/if}}
  <br><br>

  <button>Create account </button>

<p class="account-message">
  Do you already have an account ?
  <a href="/login">Login</a>
</p>

</form>