<a class="button" href="/">Back home</a>
<h1>Signup</h1>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JohnDoe">
  <br><br>
  
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="JohnDoe@email.com">
  <br><br> 

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="toto">

  {{#if message}}
    <div class="error-message">{{ message }} </div>

  <label for="password">Password</label>
  <input id="password" type="passeword" name="password" placeholder="toto">
  {{/if}}
  
  {{#if message}}
    <div class="error-message">error message to do</div>
  {{/if}}
  <br><br>

  <button>Create account </button>

<p class="account-message">
  Do you already have an account ?
  <a class="button" href="/login">Login</a>
</p>

</form>