<a href="/">&lt; Back home</a>

<h1>No account yet ? Create your account</h1>

<form action="/signup" method="POST">
 
  <div>
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="JohnDoe">
  </div>  

    <div>
    <label for="firstname">First name</label>
    <input id="firstname" type="text" name="firstname" placeholder="John">
  </div> 

    <div>
    <label for="lastname">Last name</label>
    <input id="lastname" type="text" name="lastname" placeholder="Doe">
  </div> 

  <div>
    <label for="email">Email</label>
    <input id="email" type="text" name="email" placeholder="JohnDoe@email.com">
  </div> 

  <!--div>
    <label for="email">Confirm email</label>
    <input id="email" type="text" name="email" placeholder="JohnDoe@email.com">
  </div-->  

  <div> 
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="toto">
  </div>

  <!--div> 
    <label for="password">Confirm password</label>
    <input id="password" type="password" name="password" placeholder="toto">
  </div-->


    {{#if message}}
    {{message}}
  {{/if}}
  <div>
    <input class="button" type="submit" value="Create account">
  </div>
</form>

{{#unless user}}
  <div>
    <a class="button" href="/auth/google">Signup With Google</a>
  </div>
{{/unless}}

<p class="account-message">
  Do you already have an account ?
  <a class="button" href="/login">Login</a>
</p>

</form>