
<nav class = "nav">
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
  <a href="/plant">Choose your tree</a>
</nav>


{{#if user}}
Welcome {{user.name}}
{{else}}


{{/if}}

<h1>tree trunks</h1>
<h2>plant a tree today</h2>
<div><a href="/plant">plant a tree</a></div>
<div><a href="/map">see all tree trunks</a></div>
