
<header class = "header">
<nav >
  <a class="button" href="/login">Login Signup</a>
  <a class="button" href="/plant">Choose your tree</a>
  <a class="button" href="/map">see all tree trunks</a>
</nav>
</header>


<section>
{{#if user}}
Welcome {{user.name}}
{{else}}

{{/if}}

<h1>tree trunks</h1>

</section>


