
<header class = "header">
  {{#if user}}
<p>Welcome {{user.name}}</p> 
{{else}}
<nav >
  <a class="button" href="/login">Login</a>
  <a class="button" href="/signup">Signup</a>
</nav>
{{/if}}
</header>


