
{{#if user}}
Welcome {{user.name}}
{{else}}
<a href="/login">Login or register</a>
{{/if}}

<h1>tree trunks</h1>
<h2>plant a tree today</h2>
<div><a href="/plant">plant a tree</a></div>
<div><a href="/map">see all tree trunks</a></div>
