<a href="/">&lt; Back home</a>

<h1>Tree trunks in the world</h1>

<!-- <img src="/images/map-test.jpg" alt=""> 


<div id="vmap" style="width: 1200px; height: 500px;"></div>



<h2>Trees in this region</h2>

<p id="country"></p>

{{#if countrydata}}

{{country}}

{{/if}}-->

<img src="/images/tree-test.png" alt="" class="tree-img">
<p>This is some information about the tree Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ducimus voluptatum natus. <a href="/user/test">Creator name is clickable and links to user page</a></p>

<img src="/images/tree-test.png" alt="" class="tree-img">
<p>This is some information about the tree Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ducimus voluptatum natus. <a href="/user/test">Creator name is clickable and links to user page</a></p>
