<a href="/profile">&lt; Back to user's profile</a>

<h1>User trees</h1>

<img src="/images/tree-test.png" alt="" class="tree-img">
<p>This is some information about the tree Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ducimus voluptatum natus.</p>
<button>Like</button>

<img src="/images/tree-test.png" alt="" class="tree-img">
<p>This is some information about the tree Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ducimus voluptatum natus.</p>
<button>Like</button>