<a href="/">Back to world map</a>

<h1>User's profile</h1>
<h2>User name</h2>
<img src="/images/user-test.png" alt="">
<p>Some info about user Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum saepe corrupti inventore eum?</p>

<h2>User fav tree</h2>
<img src="/images/tree-test.png" alt="" class="tree-img">
<p>Some info about tree Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum saepe corrupti inventore eum?</p>
<div>
  <a href="/user/user-test/trees">See user's trees</a>
</div>
<div>
  <button>Send user a message</button>
</div>
