* {
  font-family: 'Contrail One', cursive; Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
  font: 14px
  color: #086972;
}

header {
  font: 16px
}

a {
  color: red;
}
.button {
  color: black;
  background-color: #a7ff83;
  border: 1px solid #17b978;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height:32px;
  font-size:14px;
  background-position: center;
  transition: background 0.8s;
  text-decoration:none;
  }
.button:active {
  box-shadow: 0 3px 0 #071a52;
  top: 3px;
  }

img {
max-width: 60vw;
max-height: 50vh;
display:block;
}

.hidden {
  display:none;
}

.modal-body {
  text-align: center;
}