* {
  font-family: 'Contrail One', cursive; Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
  font: 14px
  color: #086972;
}

header {
  font: 16px
}

a {
  color: red;
}
.button {
  color: black;
  background-color: #a7ff83;
  border: 1px solid #17b978;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height:32px;
  font-size:14px;
  background-position: center;
  transition: background 0.8s;
  text-decoration:none;
  }
.button:active {
  box-shadow: 0 3px 0 #071a52;
  top: 3px;
  }

img {
max-width: 60vw;
max-height: 50vh;
display:block;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
