<h1>Congratulations!</h1>
<h2>You have planted (a tree) in (a country)!</h2>

<img src="/images/tree-test.png" alt="" class="tree-img">
<p>This is some information about the tree Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ducimus voluptatum natus.</p>

<h3><a href="/profile/mytrees">See all my trees</a></h3>
<h3><a href="/map">See all world trees</a></h3>
<h3><a href="/plant">plant another</a></h3>
