<h1>Choose tree</h1>

<img src="/images/tree-test.png" alt="" class="tree-img">
<p>This is some information about the tree Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ducimus voluptatum natus.</p>
<div class="popup" onclick="myFunction()">
  <button>Select tree</button>
  <span class="popuptext" id="myPopup">
    <p>Select country...</p>
    <select name="country" id="">
      <option value="india">India</option>
      <option value="india">Canada</option>
    </select>
    <a href="/plant/confirmation">Plant tree</a>
  </span>
  </div>

<img src="/images/tree-test.png" alt="" class="tree-img">
<p>This is some information about the tree Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ducimus voluptatum natus.</p>


<div class="popup" onclick="myFunction()"><button>Select tree</button>
  <span class="popuptext" id="myPopup">
    <p>Select country...</p>
    <select name="country" id="">
      <option value="india">India</option>
      <option value="india">Canada</option>
    </select>
    <a href="/plant/confirmation">Plant tree</a>
  </span>
</div>